.env
*.class
*.lck
*.prefs
*.log
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar

target/
build/
out/
bin/
dist/
.generated/

.classpath
.factorypath
.settings/
.project

.DS_Store
Thumbs.db
*.swp
*.swo
*~
./java/ControlUnitSubsystem/http-backend/target/classes/esiot/backend/CUS.class
./java/ControlUnitSubsystem/http-backend/target/classes/esiot/backend/CUS$1.class
./java/ControlUnitSubsystem/http-backend/target/classes/esiot/backend/DataPoint.class
./java/ControlUnitSubsystem/http-backend/target/classes/esiot/backend/DataService.class
